.gradient {
    position: relative;
    background-image: linear-gradient(to top, #3E0071 0%, #8C0BBA 100%);
    height: 500px;
    z-index: 0;

    top: 50px;
}

.gradient p {
    z-index: 2;
}

#circuloGradient {
    position: absolute;
    width: 70%; 
    height: 800px;
    background-image: linear-gradient(#8C0BBA 0%, #3E0071 70%);
    border-radius: 50%;
    top: 100%; /* Centraliza verticalmente */
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta a posição vertical */
    z-index: 1;
}

tbody td, .borda-embaixo {
    border-bottom: 2px solid #9E82D8;
}

.borda-direita {
    border-right: 2px solid #9E82D8;
}


.medal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white;
}

td, th {
    font-size:xx-large;
}

    

.gold {
    background-color: #F4E34B;
}

.silver {
    background-color: #D9D9D9;
}

.bronze {
    background-color: #EA9531;
}

#bandeira {
    height: 100%;
    max-width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.butao:hover {
    background-color: #3E0071;
    color: white;
}

.bntPlus {
    background-color: #9E82D8;
    color: black;
}

.bntMinus {
    background-color: #6F4CB8;
    color: white;
}

.seta-baixo:hover{
    color: white;
    background-color: #3E0071;
}

@media screen and (max-width: 700px){
    .gradient {
        height: 300px;
    }
    #circuloGradient {
        width: 100%;
        height: 500px;
    }

    td, th {
        font-size: medium;
    }

    .medal {
        border-radius: 30px;
        width: 30px;
        height: 30px;
    } 

    .nome-pais {
        display: none;
    }
}